@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins' as mixins;

.addButton{
  @include mixins.fonts(14px, 600, variables.$pink-color);
  font-family: variables.$mont-font;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: variables.$main-gray;
  opacity: 0.8;
  border-radius: 3px;
  transition: opacity 0.3s;
}
.addButton:hover{
  opacity: 1;
}