@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.movieCard{
 min-width: 270px;
  min-height: 350px;
  margin: 20px;

}
.movieCover{
  min-width: 270px;
  min-height: 300px;
  background-color: #555555;

}
.movieTitle{
  @include mixins.fonts(14px, 300, variables.$white-color);
  opacity: 0.8;
  margin: 0;

}
.upperMovieCard{
  font-family: variables.$mont-font;
  display: flex;
  flex-direction: row;
  padding: 15px 0 5px;
  justify-content: space-between;
}
.movieYear{
  @include mixins.fonts(10px, 200, variables.$white-color);
  border: 0.5px solid variables.$white-color;
  border-radius: 3px;
  padding: 3px 10px;
  opacity: 0.7;

}
.movieDescription{
  @include mixins.fonts(11px, 200, variables.$white-color);
  font-family: variables.$mont-font;
  opacity: 0.7;

}