@use '../../../src/styles/variables' as variables;
.content{
  position: absolute;
  inset: 0;
  background-color: variables.$dark-grey;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}