@use '../../../styles/variables.scss' as variables;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$medium-grey;
  height: 7vh;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;

}