@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;
.content{
  display: flex;
  text-transform: uppercase;
  font-family: variables.$mont-font;
  @include mixins.fonts(14px, 300, variables.$white-color);


}
.sort{
  @include mixins.fonts(14px, 300, variables.$white-color);
  opacity: 0.5;
  margin-right: 20px;
}

.select{
  text-transform: uppercase;
  background: none;
  border: none;
  color: variables.$white-color;
  margin: 0;
}
.select select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}